<div class="jumbotron bg-white text-center p-0 m-0">
    <h1 class="display-4">Corona Covid-19 Tracker</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum esse ab, consequatur excepturi nostrum, aliquam dolore odit iste maxime possimus nam dolor placeat. Similique accusamus sint quas dolores vitae vero praesentium, voluptatum repudiandae accusantium.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, vitae cum excepturi repellat perferendis quo dolore maxime, quae ipsa architecto eius molestias ipsum neque aliquid in nobis fugit, temporibus ea. Nulla numquam nihil perspiciatis nesciunt officiis dolore cupiditate. Beatae ea nisi porro repellendus, recusandae fugiat obcaecati commodi harum pariatur nihil!</p>
</div>